<% content_tag(:ul, :class => 'error') do  %>
	<% @inquiry.errors.full_messages.each do |error| %>
		<li class="error"><%= error %></li>
	<% end %>
<% end unless @inquiry.errors.blank? %>
<%= "<div style=\"color: blue;\"><h4><i>#{flash.now[:notice]}</i></h4></div>" unless flash.now[:notice].blank? %>
<% form_for @inquiry, :method => 'create' do |f| %>
	<div style="height:190px;margin:8px 0;">
		<div class="row">
			<label class="formlabel" for="name">your name</label>
			<span class="forminput"><%= f.text_field 'name', :value => @inquiry.name, :id => 'name' %></span>
		</div>
		<div class="row">
			<label class="formlabel" for="company">your company</label>
			<span class="forminput"><%= f.text_field 'company', :value => @inquiry.company, :id => 'company' %></span>
		</div>
		<div class="row">
			<label class="formlabel" for="email">your email</label>
			<span class="forminput"><%= f.text_field 'email', :value => @inquiry.email, :id => 'email' %></span>
		</div>
		<div class="row">
			<label class="formlabel" for="message">your inquiry</label>
			<span class="forminput"><%= f.text_area 'content', :cols => "80", :rows => "5", :value => @inquiry.content, :id => 'message' %></span>
		</div>
	</div>
	<div class="row">
		<span class="forminput"><%= submit_tag 'Submit', :class => 'submit' %></span>
	</div>
<% end %>
